name: Demo GitHub Actions

on:
  push:
    branches:
      - main

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
      - name: Récupérer le code
        uses: actions/checkout@v3

      - name: Étape de test
        run: echo "La pratique GitHub Actions fonctionne"
